build/
dist/
libs/
node_modules/
modloader64-config.json
src/Z64LibTests/
dirty/
vanilla/
*.o
*.elf
overlays/CommandBuffer/bin
overlays/CommandBuffer/bin_mm
overlays/CommandBuffer/bin_oot
.vscode
*.ld
src/cheatmenu.pak
src/MemoryUtils3.pak
src/MMR_15_0_10_Enemizer_28_2.bps
src/z64_fast_run.pak
